<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SE-Commerce</title>
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <partial name="_StarAdminStyles" />

    @RenderSection("css", required: false)

</head>

<body>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container-scroller">
        <partial name="_Navbar" />
        <div class="container-fluid page-body-wrapper">

            <partial name="_Sidebar" />

            <div class="main-panel">

                <!-- Main Content -->
                <div class="content-wrapper @RenderSection("wrapper-inject")">
                    @RenderBody()
                </div>
                <!-- ./Main Content -->

                <partial name="_Footer" />
            </div>
        </div>
    </div>
    
    <partial name="_StarAdminScripts" />

    @RenderSection("js", required: false)

</body>
</html>
